.float-btn-wrapper {    
    width: 75;
    height: 75;
}
.float-btn-shadow {
    width: 56;
    height: 56;
}
.float-btn {
    background-color: #FF69B4;
    border-radius: 28;
    width: 56;
    height: 56;
    text-align: center;
    vertical-align: middle;  
}
.float-btn.down{
    animation-name: down;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}
.float-btn-text {
    color: #ffffff;
    font-size: 36;
    margin-top: -3;
    margin-right: -1;
} 
@keyframes down {
    from { background-color: #FF69B4 }
    to { background-color: #FFA9B4 }
}